<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.MapApp.projeto">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Trying to solve google maps error -->
    <!-- <uses-library android:name="org.apache.http.legacy" android:required="false"/> -->
</manifest>
